<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Upload image</title>
</head>
<body>
    <div class="container">
        <div class="upfile-container">
        <p class="title">Upload image</p>
            <form action="/upload" method="POST" enctype="multipart/form-data" class="upfile-form">
                <input type="file" name="upimage" required>
                <hr>
                <button type="submit">Upload image</button>
            </form>
        </div>
    </div>
</body>
</html>